
.Level1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    position: relative;
    background-image: url('https://i.imgur.com/YbtAdqN.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
}
.containerL1 {
    margin: 50px;
    background-attachment: scroll;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 0px 1px 3px black,
        1px 1px 1px black,
        1px 1px 2px black,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.4),
        0 1px 3px rgba(0,0,0,.6),
        0 3px 5px rgba(0,0,0,.4),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    text-align: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.28);
}
img {
    height: 100px;
    width: 100px;
    transform: translate(0%, 8%);
    transition: transform 0.6s ease-in;
    transition: transform 0.3s ease-out;
    animation: MoveUpDown 1s linear infinite;
}
.group, .Answer, .L1-TryAgain, .toLevelTwo {
    text-align: center;
    justify-content: center;
    align-items: top;
    color: white;
    text-shadow: 0px 1px 3px black,
                1px 1px 1px black,
                1px 1px 2px black;
    padding: 5px;
}
.L1Intro {
    font-size: 1.3rem;
    font-weight: 500;
}
.input {
    width: 200px;
    height: 25px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
}
.Word1 {
    font-size: 2rem;
    text-shadow: 0px 1px 3px black,
    1px 1px 1px black,
    1px 1px 2px black,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.4),
    0 1px 3px rgba(0,0,0,.6),
    0 3px 5px rgba(0,0,0,.4),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.Level1 button {
    font-size: 1.1rem;
    width: 125px;
    height: 35px;
  }

.Level1 a {
    font-size: xx-small;
    margin-left: 5px;
    color: black;
    font-weight: 500;
    text-shadow: none;
    align-items: end;
}


/* TABLET */
@media screen and (min-width: 768px) {
.Level1 {
    height: 100vh;
}
.L1Intro {
    font-size: 1.5rem;
    font-weight: 600;
}
.Level1 button {
    font-size: 1.1rem;
    width: 150px;
    height: 35px;
  }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
.Level1 {
    height: 100vh;
}
.L1Intro {
    font-size: 1.5rem;
    font-weight: 600;
}
.Level1 button {
    font-size: 1.1rem;
    width: 150px;
    height: 35px;

  }
}
