.container {
    text-align: center;
    transform: translate(0%, 50%);
    padding: 15px;
    margin: auto;
  }


.col1 {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: auto;
    transform: translate(0%, -20%)
}
.col2 {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
    margin: auto;

}
.col3 {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
    margin: auto;
    transform: translate(0%, 20%)
}