
.test {
    background-image: url("https://i.imgur.com/vbXatyZ.png");
    background-repeat: repeat-y;
    width: 100v;
    background-size: contain;
    position: relative;
}
.test .containerTest {
    background-color: white;
    text-align: center;
    transform: translate(0%, 200%);
    outline: 3px solid yellow;
    padding: 15px;
    margin: auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 8px white;

}
.words {
    margin-top: 25px;
    position: flex;

}

.test .midground {
    height: 200vh;
    align-content: center;
    flex-direction: column-reverse;

}
